h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.mail {
	
}

.sender {
	text-align: left;
	float: left;
	display: inline-block;
}

.date {
	text-align: right;
	float: right;
	display: inline-block;
}

.subject {
	text-align: center;
	clear: both;
	display: inline-block;
	margin-left: 200px;
	margin-right: 200px;
	position: relative;

}

.body {
	display: none; /* initial state */
}

.bodyShow {
	text-align: center;
	clear: both;
	display: inline-block;
	margin-left: 300px;
	margin-right: 300px;
	position: relative;
}

 * {
	border-style: dashed;
	border-width: 1px;
}